<div class="header-wrapper">
  <div class="header">
    <div class="title-group">
      <button
        *ngIf="backButtonLink"
        [routerLink]="backButtonLink"
        mat-icon-button
        class="tg-button-icon tg-button-icon--outline"
      >
        <mat-icon class="tg-icon">arrow_back</mat-icon>
      </button>
      <span class="tg-h3">{{title}}</span>
    </div>
    <div class="actions">
      <ng-content select="app-header-actions, [app-header-actions], [appHeaderActions]">
      </ng-content>
    </div>
  </div>
</div>
<div class="invisible-block"></div>
