.header-wrapper {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--tg-rhythm-12);
  padding: 0 var(--tg-gap);
  background-color: var(--tg-color-background);
  box-shadow: var(--tg-shadow-header);
  box-sizing: border-box;
  z-index: 1000;
}

.title-group {
  display: flex;
  align-items: center;

  button {
    margin-right: var(--tg-gap-small);
  }
}

.actions {
  display: flex;
  align-items: center;
}

.invisible-block {
  position: relative;
  width: 100%;
  height: var(--tg-rhythm-12);
  visibility: hidden;
}
