@import "../../../../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../../../../node_modules/ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material-mixin.scss";

.ag-theme-material {
  @include ag-theme-material((
    odd-row-background-color: var(--tg-color-background-darker),
    row-hover-color: var(--tg-color-decorate),
    header-cell-hover-background-color: var(--tg-color-decorate),
    material-primary-color: var(--tg-color-primary)
  ));
}
