.tg-icon {
  width: var(--tg-rhythm-5);
  height: var(--tg-rhythm-5);
  font-size: var(--tg-rhythm-5);
  display: flex;
  align-items: center;
  justify-content: center;

  &--big {
    width: var(--tg-rhythm-7) !important;
    height: var(--tg-rhythm-7) !important;
    font-size: var(--tg-rhythm-7) !important;;
  }

  &--small {
    width: var(--tg-rhythm-4) !important;
    height: var(--tg-rhythm-4) !important;
    font-size: var(--tg-rhythm-4) !important;
  }

  &--smallest {
    width: var(--tg-rhythm-3) !important;
    height: var(--tg-rhythm-3) !important;
    font-size: var(--tg-rhythm-3) !important;
  }
}
