<app-header [title]="'Планирование'" [backButtonLink]="'../'">
  <app-header-actions>
    <button
      mat-icon-button
      class="tg-button-icon tg-button-icon--outline"
      (click)="onSettings()"
    >
      <mat-icon class="tg-icon">settings</mat-icon>
    </button>
  </app-header-actions>
</app-header>

<div class="layout">
  <div class="item">
    <ng-container *ngIf="form">
      <app-control-panel
        [form]="form"
        [hiddenControls]="hiddenControls"
        [controlsDisplay]="'column'"
        [actions]="actions"
      ></app-control-panel>
    </ng-container>
  </div>

  <div class="item">
    <app-tg-card>
      <app-tg-card-title>Planning</app-tg-card-title>
      <app-tg-card-content>
        <ng-container *ngIf="tableState$ | async as state">
          <div class="table-wrapper">
            <ng-container [ngSwitch]="state">
              <ng-container *ngSwitchCase="tableStateEnum.NOT_LOADED">
                <span class="tg-h4 placeholder-text">Нажмите <strong>Начать планирование</strong> чтобы отобразить таблицу</span>
              </ng-container>

              <ng-container *ngSwitchCase="tableStateEnum.LOADING">
                <mat-spinner class="spinner"></mat-spinner>
              </ng-container>

              <ng-container *ngSwitchCase="tableStateEnum.LOADED">
                <ag-grid-angular
                    #agPlanningGrid
                    id="myPlanningGrid"
                    class="ag-theme-material table-content"
                    [columnDefs]="columnDefs$ | async"
                    [defaultColDef]="defaultColDef$ | async"
                    [rowData]="rowData$ | async"
                    [suppressDragLeaveHidesColumns]="true"
                    (gridReady)="onGridReady($event)"
                    (cellEditingStopped)="onCellEditingStop()"
                ></ag-grid-angular>
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
      </app-tg-card-content>
    </app-tg-card>
  </div>
</div>
