.tg-button-icon-outline {
  width: 30px;
  height: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--tg-color-disabled);
  color: var(--tg-color-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: unset;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: var(--tg-transition);
  &:hover,
  &:active {
    background-color: var(--tg-color-primary);
    border: none;
    color: var(--tg-color-background);
  }
  &:disabled {
    background-color: var(--tg-color-disabled);
  }

  &--big {
    width: 40px;
    height: 40px;
  }
}
