<ng-container *ngIf="!!form">
  <div
    [formGroup]="form"
    class="table-settings table-settings--{{controlsDisplay}}"
  >
    <div *ngIf="!hiddenControls.project" class="table-settings__item">
      <app-select
        label="Project"
        [dataSource]="projectsDataSource"
        [formControl]="form.controls.project"
        [previewFormControl]="form.controls.projectPreview"
      >
        <ng-template appCustomOption let-option>
          <div class="project-preview">
            <ng-container *ngIf="(option?.avatarUrls && option?.avatarUrls['16x16']) as avatar">
              <img [src]="avatar" [srcset]="avatar" class="project-preview__img">
            </ng-container>
            <span>{{ option?.name }}</span>
          </div>
        </ng-template>
      </app-select>
    </div>

    <div *ngIf="!hiddenControls.board" class="table-settings__item">
      <app-select
        label="Board"
        [dataSource]="boardsDataSource"
        [formControl]="form.controls.board"
        [previewFormControl]="form.controls.boardPreview"
      ></app-select>
    </div>

    <div *ngIf="!hiddenControls.userOrGroup" class="table-settings__item">
      <app-select
        label="User or Group"
        [dataSource]="boardsDataSource"
        [formControl]="form.controls.userOrGroup"
        [previewFormControl]="form.controls.userOrGroupPreview"
      ></app-select>
    </div>

    <div *ngIf="!hiddenControls.periodBy" class="table-settings__item">
      <app-select
        label="Period by"
        [dataSource]="periodTypeDataSource"
        [formControl]="form.controls.periodBy"
      ></app-select>
    </div>

    <ng-container *ngIf="periodType$ | async as period">
      <ng-container [ngSwitch]="period">
        <div class="table-settings__grouped-item" *ngSwitchCase="periodTypeEnum.SPRINT">
          <div *ngIf="!hiddenControls.fromSprint" class="table-settings__item">
            <app-select
              label="From sprint"
              [dataSource]="sprintDataSource"
              [formControl]="form.controls.fromSprint"
              [previewFormControl]="form.controls.fromSprintPreview"
            ></app-select>
          </div>

          <div *ngIf="!hiddenControls.toSprint" class="table-settings__item">
            <app-select
              label="To sprint"
              [dataSource]="sprintDataSource"
              [formControl]="form.controls.toSprint"
              [previewFormControl]="form.controls.toSprintPreview"
            ></app-select>
          </div>
        </div>

        <div class="table-settings__grouped-item" *ngSwitchCase="periodTypeEnum.DATE">
          <div *ngIf="!hiddenControls.startDate" class="table-settings__item">
            <app-mask-input
              label="Start date"
              [mask]="'00.00.0000'"
              [formControl]="form.controls.startDate"
            ></app-mask-input>
          </div>

          <div *ngIf="!hiddenControls.endDate" class="table-settings__item">
            <app-mask-input
              label="End date"
              [mask]="'00.00.0000'"
              [formControl]="form.controls.endDate"
            ></app-mask-input>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
