<div class="main-page">
  <div class="title main-page__block">
    <mat-icon class="tg-icon--big">track_changes</mat-icon>
    <span class="tg-h1 tg-h1--medium">TimGo&nbsp;</span>
    <span class="tg-h2">- лучший плагин для планирования и учета трудозатрат</span>
  </div>
  <div class="subtitle main-page__block tg-p1">
    {{texts.pluginDescription}}
  </div>

  <!-- TABLES -->
  <div class="main-page__block">
    <div class="tables-title main-page__block">
      <span class="tg-h2 tg-h3">Отчетные таблицы</span>
      <mat-divider></mat-divider>
    </div>

    <div class="tables main-page__block">
      <div
        *ngFor="let table of reportTables"
        class="table-card table-card__{{table.tableID}}"
        [routerLink]="table | cache : getTableLink : this"
      >
        <app-tg-card [clickable]="true">
          <app-tg-card-title>
            {{table.name}}
          </app-tg-card-title>

          <app-tg-card-content>
            {{table.description}}
          </app-tg-card-content>
        </app-tg-card>
      </div>

      <div class="table-card table-card__planning" [routerLink]="'/tables/planning'">
        <app-tg-card [clickable]="true">
          <app-tg-card-title>
            <div class="table-card__planning__title">
              <div>Планируйте работу и ведите учет трудозатрат здесь</div>
              <mat-icon class="tg-icon tg-icon--big">arrow_forward</mat-icon>
            </div>
          </app-tg-card-title>
        </app-tg-card>
      </div>
    </div>
  </div>

  <!-- DIAGRAMS -->
  <div class="main-page__block">
    <div class="main-page__block">
      <span class="tg-h2 tg-h3">Графики и диаграммы</span>
      <mat-divider></mat-divider>
    </div>

    <div class="charts main-page__block">
      <div
        *ngFor="let chart of charts"
        class="chart-card chart-card__{{chart.chartID}}"
        [routerLink]="chart | cache : getChartLink : this"
      >
        <app-tg-card [clickable]="true">
          <app-tg-card-title>
            {{chart.name}}
          </app-tg-card-title>

          <app-tg-card-content>
            {{chart.description}}
          </app-tg-card-content>
        </app-tg-card>
      </div>
    </div>
  </div>
</div>
