<ng-container *ngIf="!!form">
  <div
    [formGroup]="form"
    class="table-settings table-settings--{{controlsDisplay}}"
  >
    <div *ngIf="displayedControls.project" class="table-settings__item">
      <app-select
        label="Проект"
        [dataSource]="projectsDataSource"
        [formControl]="form.controls.project"
      >
        <ng-template appEmptyOption>Очистить поле</ng-template>

        <ng-template appCustomOption let-option>
          <div class="project-preview">
            <ng-container *ngIf="(option?.avatarUrls && option?.avatarUrls['16x16']) as avatar">
              <img [src]="avatar" [srcset]="avatar" class="project-preview__img">
            </ng-container>
            <span>{{ option?.name }}</span>
          </div>
        </ng-template>
      </app-select>
    </div>

    <div *ngIf="displayedControls.board" class="table-settings__item">
      <app-select
        label="Доска"
        [dataSource]="boardsDataSource"
        [formControl]="form.controls.board"
      >
        <ng-template appEmptyOption>Очистить поле</ng-template>
      </app-select>
    </div>

    <div *ngIf="displayedControls.users" class="table-settings__row-item">
      <app-chip-list
        label="Пользователи"
        [dataSource]="usersDataSource"
        [formControl]="form.controls.users"
      ></app-chip-list>
    </div>

    <div *ngIf="displayedControls.periodBy" class="table-settings__item">
      <app-select
        label="Период по"
        [optionValue]="false"
        [dataSource]="periodTypeDataSource"
        [formControl]="form.controls.periodBy"
      ></app-select>
    </div>

    <ng-container *ngIf="form.controls.periodBy && periodType$ | async as period">
      <ng-container [ngSwitch]="period">
        <div class="table-settings__grouped-item" *ngSwitchCase="periodTypeEnum.SPRINT">
          <div *ngIf="displayedControls.fromSprint" class="table-settings__item">
            <app-select
              label="От спринта"
              [dataSource]="sprintDataSource"
              [formControl]="form.controls.fromSprint"
            >
              <ng-template appEmptyOption>Очистить поле</ng-template>
            </app-select>
          </div>

          <div *ngIf="displayedControls.toSprint" class="table-settings__item">
            <app-select
              label="К спринту"
              [dataSource]="sprintDataSource"
              [formControl]="form.controls.toSprint"
            >
              <ng-template appEmptyOption>Очистить поле</ng-template>
            </app-select>
          </div>
        </div>

        <div class="table-settings__grouped-item" *ngSwitchCase="periodTypeEnum.DATE">
          <div *ngIf="displayedControls.startDate" class="table-settings__item">
            <app-datepicker
              label="Дата начала"
              [formControl]="form.controls.startDate"
              [filter]="startDateFilter"
            ></app-datepicker>
          </div>

          <div *ngIf="displayedControls.endDate" class="table-settings__item">
            <app-datepicker
              label="Дата конца"
              [formControl]="form.controls.endDate"
              [filter]="endDateFilter"
            ></app-datepicker>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
